
.v-row {
    /* enter height of video here: */
    min-height: 315px; 
    margin-top: 10px;
}

.v-row__container {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.v-row__card {
    background: #ffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    text-align:center;
    border: 5px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}

.v-row__video {
    height: 315px;
    width: 100%;
    cursor: pointer;
}



.v-row__caption {
    padding: 2rem;
}

 .popup-video{
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    display:none;
  }
  
 .popup-video iframe{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
    height: 500px;
  }
